body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 75px;
    color: rgb(77, 77, 77);
    padding-top: 100px;
}
h2{
    font-size: 40px;
    color: rgb(97, 97, 97);
    padding-top: 50px;
}
.gray-text{
    font-size: 25px;
    color: gray;
    padding-right: 100px;
}
.btn-position{
    padding-bottom: 50px;
}
.orange-text{
    color: tomato;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
}
.display-flex{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 100px;
}
.first-girl-width{
    width: 100%;
}
.section-bg{
    background-image: url(images/frame.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sec-girl-width{
    width: 50%;
    margin-left: 100px;
}
.para-design{
    font-size: 20px;
    line-height: 1.8;
    margin-right: 35%;
}
