body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 75px;
    color: rgb(77, 77, 77);
    padding-top: 100px;
}
.gray-text{
    font-size: 25px;
    color: gray;
    padding-bottom:50px;
}
.orange-text{
    color: tomato;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
}
.display-flex{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 100px;
}
.image-width{
    width: 90%;
}
