body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-top: 50px;
}
h1{
    font-size: 75px;
    color: rgb(77, 77, 77);
    padding-top: 100px;
}
h2{
    font-size: 40px;
    color: rgb(97, 97, 97);
    padding-top: 100px;
}
h3{
    font-size: 35px;
    text-align: center;
    color: rgb(97,97,97);
}
h4{
    font-size: 30px;
}

.sec3-para{
    text-align: center;
    font-size: 20px;
    padding: 0px 300px 0px 300px;
}
.gray-text{
    font-size: 25px;
    color: gray;
    padding-right: 100px;
}
.btn-position{
    padding-bottom: 50px;
}
.orange-text{
    color: tomato;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
}
.display-flex{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 100px;
}
.first-girl-width{
    width: 90%;
    padding: 80px 25px;
}
.deliver-to{
    margin-left: 5%;
}
.move-right{
    margin-left: 50%;
}
.section-bg{
    background-image: url(images/abs-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sec-boy-width{
    width: 100%;
    margin-left: 50px;
    margin-top: 100px;
}
.para-design{
    font-size: 20px;
    line-height: 1.8;
    margin-right: 30%;
    text-align: justify;
}
.recipes-width{
    width: 97%;
    border-radius: 50px;
}
.shadow{
    margin: 50px;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 25px 25px 50px gray;
}
.section-padding{
    padding: 0px 100px 0px 100px;
}
.show-more{
    font-size: 25px;
    color: white;
    background-color: orangered;
    text-align: center;
    padding: 20px;
    margin: 0px 150px 50px 150px;
    border-radius: 25px;
}
.footer-design{
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 59);
    padding: 30px 0px 90px 0px;
}